:root {
    --fs: 16px;

    --ff-outfit: 'Outfit', sans-serif;
    --ff-ys: 'Young Serif', serif;

    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    --br: 1rem;
}

body {
    box-sizing: border-box;
    width: 100vw;
    margin: 0rem;
    background-color: var(--Eggshell);

    overflow-x: hidden;

    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50rem;

    background-color: var(--White);
    border-radius: var(--br);
    margin-top: 5rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 2rem;
}

.img-container > img {
    width: 100%;
    border-radius: var(--br);
}

.description > h1 {
    font-family: var(--ff-ys);
    font-weight: 400;
}
.description > p {
    font-family: var(--ff-outfit);
    font-weight: 400;
}
.preparation-time {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--Rose-White);
    border-radius: var(--br);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}
h3 {
    margin: 0px;
    font-family: var(--ff-outfit);
    font-weight: 700;
    color: var(--Dark-Raspberry);
}
.preparation-time > ul {
    margin: 0px;
    padding-left: 1rem;
    color: var(--Dark-Raspberry);
}
ul p {
    color: var(--Dark-Charcoal);
    font-family: var(--ff-outfit);
    font-weight: 400;
    padding-left: 1rem;
}
.ingredients,.instructions, .nutrition {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1rem;

    border-style: solid;
    border-bottom-color: var(--Light-Grey);
    border-width: 0 0 0.1rem 0;
}
h2 {
    font-family: var(--ff-ys);
    font-weight: 400;
    color: var(--Nutmeg);
}
.ingredients > ul, .instructions > ol {
    list-style-type: square;
    padding-left: 1.5rem;
    color: var(--Nutmeg);
}
.ingredients > ul p, .instructions > ol p,.nutrition > p {
    color: var(--Dark-Charcoal);
    font-family: var(--ff-outfit);
    font-weight: 400;
    padding-left: 1rem;
    margin-top: 1rem;
}
.instructions > ol {
    list-style-type:decimal;
    font-family: var(--ff-outfit);
    font-weight: 700;
}

.nutrition {
    border: none;
}
.nutrition > p {
    padding-left: 0;
}
.nutrition .inner-grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;

    border-style: solid;
    border-bottom-color: var(--Light-Grey);
    border-width: 0 0 0.1rem 0;
}
.inner-grid p {
    color: var(--Dark-Charcoal);
    font-family: var(--ff-outfit);
    font-weight: 400;
    padding-left: 1rem;
}
.flex .inner-grid:nth-child(4) {
    border: none;
}
.inner-grid p:last-child {
    color: var(--Nutmeg);
    font-weight: 600;
}

@media (max-width: 400px) {
    body {
        background-color: var(--White);
    }
    .wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}